
/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ COLORS								▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
/* —————————————————————————————————————————— ROOT ———————————————————————————————————————————————————————— */
:root{
	--color-cyan							:	hsla(187, 087%, 037%, 1.00)			;
	--color-cyan-lit						:	hsla(187, 092%, 055%, 1.00)			;
	--color-cyan-shade						:	hsla(187, 099%, 015%, 1.00)			;

	--color-blue							:	hsla(205, 092%, 043%, 1.00)			;
	--color-blue-lit						:	hsla(205, 092%, 065%, 1.00)			;
	--color-blue-shade						:	hsla(205, 099%, 022%, 1.00)			;

	--color-purple							:	hsla(272, 077%, 035%, 1.00)			;
	--color-purple-lit						:	hsla(272, 082%, 055%, 1.00)			;
	--color-purple-shade					:	hsla(272, 099%, 018%, 1.00)			;

	--color-magenta							:	hsla(310, 087%, 035%, 1.00)			;
	--color-magenta-lit						:	hsla(310, 082%, 055%, 1.00)			;
	--color-magenta-shade					:	hsla(310, 099%, 013%, 1.00)			;

	--color-red								:	hsla(345, 087%, 043%, 1.00)			;
	--color-red-lit							:	hsla(345, 092%, 055%, 1.00)			;
	--color-red-shade						:	hsla(365, 099%, 022%, 1.00)			;

	--color-orange							:	hsla(016, 087%, 045%, 1.00)			;
	--color-orange-lit						:	hsla(016, 092%, 060%, 1.00)			;
	--color-orange-shade					:	hsla(016, 092%, 014%, 1.00)			;

	--color-yellow							:	hsla(046, 092%, 055%, 1.00)			;
	--color-yellow-lit						:	hsla(046, 092%, 065%, 1.00)			;
	--color-yellow-shade					:	hsla(036, 092%, 012%, 1.00)			;

	--color-green							:	hsla(160, 092%, 042%, 1.00)			;
	--color-green-lit						:	hsla(160, 098%, 055%, 1.00)			;
	--color-green-shade						:	hsla(160, 099%, 016%, 1.00)			;

	--color-base-0							:	hsla(000, 000%, 098%, 1.00)			;
	--color-base-1							:	hsla(000, 000%, 096%, 1.00)			;
	--color-base-2							:	hsla(000, 000%, 093%, 1.00)			;
	--color-base-3							:	hsla(000, 000%, 091%, 1.00)			;

	--color-base-x0							:	hsla(000, 000%, 098%, 0.08)			;
	--color-base-x1							:	hsla(000, 000%, 096%, 0.25)			;
	--color-base-x2							:	hsla(000, 000%, 093%, 0.43)			;
	--color-base-x3							:	hsla(000, 000%, 091%, 0.77)			;

	--color-tradingview						:	hsla(227, 039%, 024%, 1.00)			;
	--color-tradingview-x					:	hsla(227, 039%, 024%, 0.50)			;
	--color-github							:	hsla(210, 022%, 018%, 1.00)			;
	--color-github-x						:	hsla(210, 022%, 018%, 0.50)			;

	--color-key-0							:	hsla(000, 000%, 000%, 0.04)			;
	--color-key-1							:	hsla(000, 000%, 000%, 0.08)			;
	--color-key-2							:	hsla(000, 000%, 000%, 0.16)			;
	--color-key-3							:	hsla(000, 000%, 000%, 0.25)			;
	--color-key-4							:	hsla(000, 000%, 000%, 0.31)			;
	--color-key-5							:	hsla(000, 000%, 000%, 0.37)			;
	--color-key-6							:	hsla(000, 000%, 000%, 0.43)			;
	--color-key-7							:	hsla(000, 000%, 000%, 0.50)			;
	--color-key-8							:	hsla(000, 000%, 000%, 0.77)			;
	--color-key-9							:	hsla(000, 000%, 000%, 0.87)			;

	--color-none							:	hsla(000, 000%, 000%, 0.00)			;
}

