/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ LAYOUT								▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
/* —————————————————————————————————————————— ROOT ———————————————————————————————————————————————————————— */
:root										{


}
/* —————————————————————————————————————————— BODY ———————————————————————————————————————————————————————— */
body										{
	position								:	absolute							;
	margin									:	0									;
	width									:	100vw								;
	height									:	100vh								;
	overflow								:	hidden								;	
}
div											{
	box-sizing								:	border-box							;
}
