/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ SCALING								▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
/* —————————————————————————————————————————— SMALL —————————————————————————————————————————————————————— */
@media only screen and (max-width: 756px)	{
	:root{
		font-size 								:	16px									;
		--h-s-f-display							:	none									;
		--h-pl-l-width							:	5rem									;
		--h-s-modus								:	small									;
	}
}
/* —————————————————————————————————————————— LARGE ————————————————————————————————————————————————————— */
@media only screen and (min-width: 756px) 		{
	:root{
		font-size 								:	16px									;
		--h-s-f-display							:	flex									;
		--h-pl-l-width							:	11rem									;
		--h-s-modus								:	large									;
	}
}
