/* ░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓ STYLING								▓▓▒▒▒▒▒▒▒░░░░░░░░░░░░░░ */
/* —————————————————————————————————————————— ROOT ———————————————————————————————————————————————————————— */
:root{
/* Style */
	--borderpx								:	1px									;
	--line-key-3							:	solid var(--borderpx) var(--color-key-1);
/* Scrollbar */
	--scrollbarlarge						:	0.6rem								;
	--scrollbarsmall						:	0.0rem								;
	--scrollbartiny							:	0.0rem								;

	--svg-width-height						:	1.2rem								;
/* Toolbuttons */
	--toolbutton-height						:	3.6rem								;
	--toolbutton-width						:	4rem								;
}
/* —————————————————————————————————————————— BODY ———————————————————————————————————————————————————————— */
body{
/* Style */
	background-color						:	var(--color-base-0)					;
	box-shadow								:	var(--shadow-inset-0-t)				;
	-moz-box-shadow							:	var(--shadow-inset-0-t)				;
	-webkit-box-shadow						:	var(--shadow-inset-0-t)				;
/* Scrollbar */
	scrollbar-track-color					:	var(--color-transp)					;
 	scrollbar-width							:	thin								;}
body::-webkit-scrollbar{
    width									:	var(--scrollbarlarge)				;}
body::-webkit-scrollbar-thumb{
 	background-color						:	#c9c9c9								;
}

form{
	margin-bottom							:	0									;
}

.init{
	filter									:	brightness(5)						;
}
/* —————————————————————————————————————————— TOOLBUTTON ————————————————————————————————————————————————————— */
.toolbutton{
	box-sizing								:	border-box							;
	padding									:	0.6rem	0.8rem						;
	width									:	2.4rem								;
	height									:	2rem								;
	font-size								:	0.8rem								;
	color									:	var(--color-base-x3	)				;
	margin-bottom							:	-0.1rem								;
	transition								:	var(--transition-2)					;
}
.toolbutton.sqxl{
	height									:	var(--toolbutton-height)			;
	width									:	var(--toolbutton-width)				;
	padding									:	calc( (var(--toolbutton-height) - var(--svg-width-height)) / 2 )
												calc( (var(--toolbutton-width) 	- var(--svg-width-height)) / 2 ); /* Remain 1.2 x 1.2 rem cube for icon */
}
.toolbutton:hover{
	color									:	var(--color-base-0)					;
	background-color						:	var(--color-base-x3)				;
	-moz-box-shadow							:	var(--shadow-drop-1)				;
	-webkit-box-shadow						:	var(--shadow-drop-1)				;
	box-shadow								:	var(--shadow-drop-1)				;}
.toolbutton:active{
	color									:	var(--color-key-8)					;
	background-color						:	var(--color-base-3)					;
	-moz-box-shadow							:	var(--shadow-drop-2)				;
	-webkit-box-shadow						:	var(--shadow-drop-2)				;
	box-shadow								:	var(--shadow-drop-2)				;}
.toolbutton:active:hover{
	color									:	var(--color-key-5)					;
	background-color						:	var(--color-base-0)					;
	-moz-box-shadow							:	var(--shadow-drop-1)				;
	-webkit-box-shadow						:	var(--shadow-drop-1)				;
	box-shadow								:	var(--shadow-drop-1)				;
}
/* —————————————————————————————————————————— FUNCTIONBUTTON ————————————————————————————————————————————————————— */
.functionbutton{
	display									:	flex								;
	justify-content							:	center								;
	align-content							:	center								;
	padding									:	0.5rem	1.0rem						;
	font-size								:	0.8rem								;
	min-width								:	7.2rem								;
	height									:	2rem								;
	color									:	var(--color-key-5)					;
	border									:	var(--line-key-3)					;
	transition								:	var(--transition-2)					;
}
.functionbutton:hover{
	color									:	var(--color-key-6)					;
	background-color						:	var(--color-key-0)					;
	-moz-box-shadow							:	var(--shadow-inset-1)				;
	-webkit-box-shadow						:	var(--shadow-inset-1)				;
	box-shadow								:	var(--shadow-inset-1)				;}
.functionbutton:active{
	color									:	var(--color-key-8)					;
	background-color						:	var(--color-key-1)					;
	-moz-box-shadow							:	var(--shadow-inset-2)				;
	-webkit-box-shadow						:	var(--shadow-inset-2)				;
	box-shadow								:	var(--shadow-inset-2)				;
}
/* —————————————————————————————————————————— SORTBUTTON ————————————————————————————————————————————————————— */
.sortbutton{
	padding									:	0.35rem	0							;
	font-size								:	0.8rem								;
	width									:	2.4rem								;
	height									:	calc( 2rem - ( 2 * var(--borderpx)));
	justify-content							:	center								;
	align-content							:	center								;
	color									:	var(--color-key-5)					;
	border									:	var(--line-key-3)					;
	transition								:	var(--transition-2)					;
}
.sortbutton:hover{
	color									:	var(--color-key-6)					;
	background-color						:	var(--color-key-0)					;
	-moz-box-shadow							:	var(--shadow-inset-1)				;
	-webkit-box-shadow						:	var(--shadow-inset-1)				;
	box-shadow								:	var(--shadow-inset-1)				;}
.sortbutton:active{
	color									:	var(--color-key-8)					;
	background-color						:	var(--color-key-1)					;
	-moz-box-shadow							:	var(--shadow-inset-2)				;
	-webkit-box-shadow						:	var(--shadow-inset-2)				;
	box-shadow								:	var(--shadow-inset-2)				;
}
/* —————————————————————————————————————————— FORM ————————————————————————————————————————————————————— */
.form{
	font-size								:	1rem								;
	font-weight								:	700									;
	color									:	var(--color-key-6)					;
	background-color						:	var(--color-none)					;
	padding-left							:	0.5rem								;
	border									:	var(--line-key-3)					;
	border-right							:	0									;
	transition								:	var(--transition-2)					;
	caret-color								:	var(--color-blue)					;
}
.form:hover{
	color									:	var(--color-key-6)					;
	background-color						:	var(--color-key-0)					;
	-moz-box-shadow							:	var(--shadow-inset-1)				;
	-webkit-box-shadow						:	var(--shadow-inset-1)				;
	box-shadow								:	var(--shadow-inset-1)				;}
.form:focus{
	color									:	var(--color-key-8)					;
	background-color						:	var(--color-key-1)					;
	-moz-box-shadow							:	var(--shadow-inset-2)				;
	-webkit-box-shadow						:	var(--shadow-inset-2)				;
	box-shadow								:	var(--shadow-inset-2)				;
	outline									:	none								;
	outline-style							:	none								;
}

.functiondrawer{
	position								:	absolute							;
	display									:	flex								;
}
